pandas
pytest
psutil
matplotlib
pyyaml
einops
pybind11>=3.0.1
ninja
--find-links https://rocm.frameworks-nightlies.amd.com/whl/gfx942-gfx950/flydsl/
flydsl @ git+https://github.com/ROCm/FlyDSL.git@main
