{% extends "_base_impl.cuh.j2" %}
{%- block launcher %}
// See _gen_noscale_instance for the rationale of the host/device pass split.
template <typename D_C>
void
{{ kid_name }}(
    aiter_tensor_t &XQ,
    aiter_tensor_t &WQ,
    aiter_tensor_t &Y,
    std::optional<aiter_tensor_t> bias,
    int /*splitK*/)
{
    int batch = XQ.size(0);
    int M = XQ.size(1);
    int N = WQ.size(1);
    int K = XQ.size(2);
{{ k_check }}
    AITER_CHECK(!bias.has_value(),
        "bias is not supported on a16w16_mono_tile kid; use a16w16 "
        "split-barrier (kid 4..9) or a16w16_flatmm_splitk (kid 200..299)");

    {{ kargs_name }} kargs{};
    kargs.ptr_a = XQ.data_ptr();
    kargs.ptr_b = WQ.data_ptr();
    kargs.ptr_c = Y.data_ptr();
    kargs.m = M;
    kargs.n = N;
    kargs.k = K;
    kargs.batch = batch;
    kargs.stride_a = K;
    kargs.stride_b = K;
    kargs.stride_c = N;
    kargs.stride_a_batch = M * K;
    kargs.stride_b_batch = N * K;
    kargs.stride_c_batch = M * N;

    int num_tiles_m = (M + {{ B_M }} - 1) / {{ B_M }};
    int num_tiles_n = (N + {{ B_N }} - 1) / {{ B_N }};
    dim3 grid(num_tiles_m * num_tiles_n, 1, batch);
    dim3 block({{ BLOCK_SIZE }});

    auto stream = aiter::getCurrentHIPStream();
    {{ kernel_func }}<{{ kid_name }}_Traits<D_C>><<<grid, block, 0, stream>>>(kargs);

}
{%- endblock %}
