{{ preamble }}
{{ host_tu_split }}
{{ traits_aliases }}
#if !defined(__HIP_DEVICE_COMPILE__) && !defined(__HIPCC_RTC__)
template <typename D_C>
void
{{ kid_name }}(
    aiter_tensor_t &XQ,
    aiter_tensor_t &WQ,
    aiter_tensor_t &Y{{ extra_param }})
{
    int batch = XQ.size(0);
    int M = XQ.size(1);
    int N = WQ.size(1);
    int K = XQ.size(2);
{{ k_check }}
    {{ kargs_name }} kargs{};
    kargs.ptr_a = XQ.data_ptr();
    kargs.ptr_b = WQ.data_ptr();
    kargs.ptr_c = Y.data_ptr();
    kargs.m = M;
    kargs.n = N;
    kargs.k = K;
    kargs.batch = batch;
    kargs.stride_a = K;
    kargs.stride_b = K;
    kargs.stride_c = N;
    kargs.stride_a_batch = M * K;
    kargs.stride_b_batch = N * K;
    kargs.stride_c_batch = M * N;
{{ kargs_init_extra }}{{ bias_kargs_block }}
    int num_tiles_m = (M + {{ B_M }} - 1) / {{ B_M }};
    int num_tiles_n = (N + {{ B_N }} - 1) / {{ B_N }};
    dim3 grid(num_tiles_m * num_tiles_n, 1, batch);
    dim3 block({{ BLOCK_SIZE }});
{{ launch_block }}

}
#endif // launcher only on regular host pass
