#pragma once
// SPDX-License-Identifier: MIT
// Copyright (C) 2025-2026, Advanced Micro Devices, Inc. All rights reserved.
#include "aiter_tensor.h"
#include <cstdlib>
#include <optional>

{% for a16w16_tag, noscale_tag, kernel_name in kernels -%}
{% if a16w16_tag %}
template <typename D_C>
void
{{ kernel_name }}(
    aiter_tensor_t &XQ,
    aiter_tensor_t &WQ,
    aiter_tensor_t &Y,
    std::optional<aiter_tensor_t> bias,
    int splitK);
{% elif noscale_tag %}
template <typename D_C>
void
{{ kernel_name }}(
    aiter_tensor_t &XQ,
    aiter_tensor_t &WQ,
    aiter_tensor_t &Y);
{% else %}
template <typename D_C>
void
{{ kernel_name }}(
    aiter_tensor_t &XQ,
    aiter_tensor_t &WQ,
    aiter_tensor_t &Y,
    std::optional<aiter_tensor_t> x_scale,
    std::optional<aiter_tensor_t> w_scale);
{% endif %}
{% if loop.last %}

{% endif %}
{% endfor %}
