name: Aiter Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]  # Triggers on PRs targeting `main`
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  DOCKER_IMAGE: "rocm/pytorch:latest"
  GPU_ARCH_LIST: "gfx942;gfx950"
  GITHUB_REPO_URL: ${{ github.event.pull_request.head.repo.clone_url || 'https://github.com/ROCm/aiter.git' }}
  GITHUB_COMMIT_SHA: ${{ github.event.pull_request.head.sha || github.event.head_commit.id }}

jobs:
  check-signal:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download and check signal artifact
        run: ./.github/scripts/check_signal.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_SHA: ${{ github.sha }}

  # define-runners:
  #   runs-on: ubuntu-latest
  #   needs: [check-signal]
  #   outputs:
  #     standard_runners: ${{ steps.machines.outputs.standard_runners }}
  #     multigpu_runners: ${{ steps.machines.outputs.multigpu_runners }}

  #   steps:
  #     - name: Define whether runs on MI35X
  #       env:
  #         PR_TITLE: ${{ github.event.pull_request.title }}
  #       id: machines
  #       run: |
  #         set -euo pipefail
  #         if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
  #           echo "It's main branch, running tests on MI325 and MI35X..."
  #           echo 'standard_runners=["aiter-mi355-1gpu", "aiter-1gpu-runner"]' >> "$GITHUB_OUTPUT"
  #           echo 'multigpu_runners=["aiter-mi355-8gpu", "aiter-8gpu-runner"]' >> "$GITHUB_OUTPUT"
  #         #elif echo "${PR_TITLE}" | grep -qi "mi325"; then
  #         #  echo "PR title contains 'MI325', running tests on MI325 and MI35X..."
  #         #  echo 'standard_runners=["aiter-mi355-1gpu", "aiter-1gpu-runner"]' >> "$GITHUB_OUTPUT"
  #         #  echo 'multigpu_runners=["aiter-mi355-8gpu", "aiter-8gpu-runner"]' >> "$GITHUB_OUTPUT"
  #         else
  #           # echo "Not main branch and PR title does not contain mi325, only running on MI35X..."
  #           echo 'standard_runners=["aiter-mi355-1gpu", "aiter-1gpu-runner"]' >> "$GITHUB_OUTPUT"
  #           echo 'multigpu_runners=["aiter-mi355-8gpu", "aiter-8gpu-runner"]' >> "$GITHUB_OUTPUT"
  #         fi
  #         echo "$GITHUB_OUTPUT"
  #   
  #     - name: Show output variable
  #       run: |
  #         echo "Standard: ${{ steps.machines.outputs.standard_runners }}"
  #         echo "Multigpu: ${{ steps.machines.outputs.multigpu_runners }}"

  build_aiter_image:
    runs-on: aiter-build-runner
    needs: check-signal
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Prepare docker config
        run: |
          export DOCKER_CONFIG="$HOME/.docker"
          mkdir -p "$DOCKER_CONFIG" || true
          cp /docker-config/config.json "$DOCKER_CONFIG/config.json"
          echo "DOCKER_CONFIG=$DOCKER_CONFIG" >> "$GITHUB_ENV"
      
      - name: Generate Dockerfile
        run: |
          cat <<EOF > Dockerfile.mod
          FROM ${{ env.DOCKER_IMAGE }}

          RUN echo "=== Aiter version BEFORE uninstall ===" && pip show amd-aiter || true
          RUN pip uninstall -y aiter
          RUN pip install --upgrade pandas zmq einops numpy==1.26.2
          RUN pip install --upgrade "pybind11>=3.0.1"
          RUN pip install --upgrade "ninja>=1.11.1"
          RUN pip install tabulate
          RUN pip list

          RUN rm -rf aiter \
           && git clone ${{ env.GITHUB_REPO_URL }} aiter \
           && cd aiter \
           && git checkout ${{ env.GITHUB_COMMIT_SHA }} \
           && if [ "${GITHUB_REF:-}" = "refs/heads/main" ]; then \
                echo "It's main branch, syncing latest CK..."; \
                git submodule sync && \
                git submodule update --init --recursive --remote --depth 1 --jobs 4; \
              else \
                echo "It's a PR branch, syncing specific CK..."; \
                git submodule sync && \
                git submodule update --init --recursive --depth 1 --jobs 4; \
              fi \
           && pip install -r requirements.txt \
           && echo "Prebuilding kernels with GPU_ARCHS: ${{ env.GPU_ARCH_LIST }} and PREBUILD_KERNELS: 1" \
           && PREBUILD_KERNELS=1 GPU_ARCHS="${{ env.GPU_ARCH_LIST }}" python setup.py develop \
           && echo "Prebuilding kernels completed"

          RUN echo "=== Aiter version AFTER installation ===" && pip show amd-aiter || true
          EOF

      - name: Show Dockerfile
        run: cat Dockerfile.mod

      - name: Build Docker image
        run: |
          IMAGE_TAG=rocm/aiter-ci:pre-build-${{ env.GITHUB_COMMIT_SHA }}
          docker build --network=host --no-cache -t $IMAGE_TAG -f Dockerfile.mod .

      - name: Push Docker image
        run: |
          IMAGE_TAG=rocm/aiter-ci:pre-build-${{ env.GITHUB_COMMIT_SHA }}
          # docker login -u rocmshared -p ${{ secrets.DOCKER_PASSWORD }}
          docker push $IMAGE_TAG

      - name: Success message
        run: |
          echo "Successfully prepared image: rocm/aiter-ci:pre-build-${{ env.GITHUB_COMMIT_SHA }}"
      
  standard:
    name: Standard Tests (1 GPU)
    needs: build_aiter_image
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: aiter-mi355-1gpu
            label: MI355
          - runner: aiter-1gpu-runner
            label: MI325
    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Sync submodules
        run: |
          set -euo pipefail
          if [[ ${{ github.ref }} == "refs/heads/main" ]]; then
            echo "It's main branch, syncing latest CK..."
            git submodule sync
            git submodule update --init --recursive --remote --depth 1 --jobs 4
          else
            echo "It's a PR branch, syncing specific CK..."
            git submodule sync
            git submodule update --init --recursive --depth 1 --jobs 4
          fi

      - name: Run the container
        run: |
          set -ex
          echo "Starting container: aiter_test"

          if [ -f "/etc/podinfo/gha-render-devices" ]; then
            DEVICE_FLAG=$(cat /etc/podinfo/gha-render-devices)
          else
            DEVICE_FLAG="--device /dev/dri"
          fi

          docker run -dt \
          --device=/dev/kfd $DEVICE_FLAG \
          --shm-size=16G \
          --network=host \
          --group-add $(getent group render | cut -d: -f3) \
          --group-add $(getent group video | cut -d: -f3) \
          -v "${{ github.workspace }}:/workspace" \
          -w /workspace \
          --name aiter_test \
          rocm/aiter-ci:pre-build-${{ env.GITHUB_COMMIT_SHA }}

      - name: Show Aiter version
        run: |
          set -ex
          docker exec \
          -w /workspace \
          aiter_test \
          bash -c "pip show amd-aiter || true"
      
      - name: Tests
        run: |
          set -ex
          docker exec \
          -w /workspace \
          aiter_test \
          bash -c "./.github/scripts/aiter_test.sh" 

      - name: Collect test logs
        if: always()
        run: |
          echo "Collecting test logs..."
          echo "Aiter Operator Tests Summary:" >> $GITHUB_STEP_SUMMARY
          python3 ./.github/scripts/collect_logs.py latest_test.log >> $GITHUB_STEP_SUMMARY

      - name: Upload test logs
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: standard-test-log-${{ matrix.runner }}
          path: latest_test.log

      - name: Cleanup container
        if: always()
        run: |
          docker rm -f aiter_test || true

  multi-gpu:
    name: Multi-GPU Tests (8 GPU)
    needs: build_aiter_image
    # only run multi-gpu tests on main branch due to limited multi-gpu resources
    if: github.ref == 'refs/heads/main' 
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: aiter-mi355-8gpu
          - runner: aiter-8gpu-runner
    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Clean up Rocm processes
        run: ./.github/scripts/clean_up_rocm.sh

      - name: Run the container
        run: |
          set -ex
          echo "Starting container: aiter_test"

          if [ -f "/etc/podinfo/gha-render-devices" ]; then
            DEVICE_FLAG=$(cat /etc/podinfo/gha-render-devices)
          else
            DEVICE_FLAG="--device /dev/dri"
          fi

          docker run -dt \
          --device=/dev/kfd $DEVICE_FLAG \
          --shm-size=16G \
          --network=host \
          --group-add $(getent group render | cut -d: -f3) \
          --group-add $(getent group video | cut -d: -f3) \
          -v "${{ github.workspace }}:/workspace" \
          -w /workspace \
          --name aiter_test \
          rocm/aiter-ci:pre-build-${{ env.GITHUB_COMMIT_SHA }}
      
      - name: Show Aiter version
        run: |
          set -ex
          docker exec \
          -w /workspace \
          aiter_test \
          bash -c "pip show amd-aiter || true"

      - name: Tests
        run: |
          set -ex
          docker exec \
          -e MULTIGPU=TRUE \
          -w /workspace \
          aiter_test \
          bash -c "./.github/scripts/aiter_test.sh"

      - name: Upload test logs
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: multigpu-test-${{ matrix.runner }}
          path: latest_test.log

      - name: Cleanup container
        if: always()
        run: |
          docker rm -f aiter_test || true

      - name: Clean up Rocm processes
        if: always()
        run: |
          ./.github/scripts/clean_up_rocm.sh
